@model IEnumerable<DataAccessLayer.Entities.Permission>

@{
    ViewData["Title"] = "سطح دسترسی کاربران";
    Layout = "~/Views/Shared/_panel.cshtml";
}

<h1 class="text-center">سطح دسترسی کاربران</h1>

<div class="offset-2">
    <p>
        <a class="btn btn-info" onclick="AddPermission()">ایجاد سطح دسترسی </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="permission_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" onclick="EditPermission(@item.Id)">ویرایش</a>
                        <a class="btn btn-danger btn-sm" onclick="DeletePermission(@item.Id)">حذف </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lavender">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ModalBody">

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section Mardani {
    <script>
        function AddPermission() {
            $.get("/Admin/AddPermission", function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            })
        }

        function EditPermission(id) {
            $.get("/Admin/EditPermission/" + id, function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            })
        }

        function DeletePermission(id) {
            if (confirm("آیا از حذف مطمئن هستید ؟")) {
                $.get("/Admin/DeletePermission/" + id, function () {
                    $("#permission_" + id).hide('slow');
                })
            }
        }
    </script>

}
