@model Core.ViewModel.ActivateViewModel

@{
    ViewData["Title"] = "فعالسازی حساب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">فعالسازی حساب کاربری</h1>


<hr />
<div class="offset-4">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ActivateAccount">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input asp-for="ActiveCode" class="form-control" placeholder="کد فعالسازی " />
                    <span asp-validation-for="ActiveCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn btn-success btn-block" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Register">بازگشت به صفحه ثبت نام</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
