@model IEnumerable<DataAccessLayer.Entities.Degree>

@{
    ViewData["Title"] = "لیست مقاطع تحصیلی";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h1 class="text-center">لیست مقاطع تحصیلی</h1>

<p>
    <a class="btn btn-info " onclick="AddDegree()">تعریف مقطع تحصیلی جدید</a>
</p>
<div class="offset-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    عملیات
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="degree_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" onclick="EditDegree(@item.Id)">ویرایش</a> |
                        <a class="btn btn-danger btn-sm" onclick="DeleteDegree(@item.Id)">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lavender">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ModalBody">

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section Mardani{

    <script>
        function AddDegree() {
            $.get("/Admin/AddDegree", function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            });
        }

        function EditDegree(id) {
            $.get("/Admin/EditDegree/" + id, function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            });
        }

        function DeleteDegree(id) {
            if (confirm("آیا از حذف مطمئن هستید ؟")) {
                $.get("/Admin/DeleteDegree/" + id, function () {
                    $("#degree_" + id).hide('slow');
                });
            }
        }
    </script>

}
