@model IEnumerable<DataAccessLayer.Entities.Permission>
@inject Core.Classes.Scopes scope
@{
    ViewData["Title"] = "انتساب دسترسی";
    Layout = "~/Views/Shared/_Panel.cshtml";
    
}

<h1 class="text-center">انتساب دسترسی</h1>
<hr />
<form asp-action="ManageRolePermission">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-6">
            <a class="btn btn-danger btn-sm" asp-action="RoleList">بازگشت</a> |
            <input class="btn btn-success btn-sm" type="submit" value="ثبت" />
        </div>
        <div class="col-md-6">
            <input type="text" id="RolePermissionFilter" placeholder="جستجو ..." onkeyup="SearchRolePermission()" />
        </div>
    </div>

    <div class="row" style="margin-top:30px;">


        <div class="col-md-6 offset-3">

            <ul id="RolePermissionUL" style="list-style:none">
                @foreach (var item in Model)
                {
                    <li style="background-color:lavender; margin:10px; padding:10px;">
                        <a style="color:black; font-size:16px;">
                            @item.Name <input style="margin-right:8px;" @((scope.ExistRolePermissions(ViewBag.RoleID,item.Id)?"checked":"")) type="checkbox" value="@item.Id" name="rolepermissions" />
                        </a>
                    </li>
                }
            </ul>

        </div>
    </div>
</form>

@section Mardani{

    <script>
        function SearchRolePermission() {
            var ul, li, input, filter, txtValue, a;
            input = document.getElementById("RolePermissionFilter");
            filter = input.value.toUpperCase();
            ul = document.getElementById("RolePermissionUL");
            li = ul.getElementsByTagName("li");

            for (var i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerHtml;
                if (txtValue.toUpperCase().indexOf(filter) >= 0) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
            
        }
    </script>
}