@model IEnumerable<DataAccessLayer.Entities.SpentMoney>

@{
    ViewData["Title"] = "مدیریت بودجه";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h1 class="text-center">مدیریت بودجه</h1>

<p>
    <a class="btn btn-info" onclick="AddSpentMoney()">تعریف بازه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Money) 
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="spent_@item.Id">
                <td>
                    تا @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    <a class="btn btn-sm btn-warning"onclick="EditSpentMoney(@item.Id)">ویرایش</a> |
                    <a class="btn btn-sm btn-danger"onclick="DeleteSpentMoney(@item.Id)">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lavender">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ModalBody">

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

@section Mardani{

    <script>
        function AddSpentMoney() {
            $.get("/Admin/AddSpentMoney", function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            });
        }

        function EditSpentMoney(id) {
            $.get("/Admin/EditSpentMoney/" + id, function (result) {
                $("#myModal").modal('show');
                $("#ModalBody").html(result);
            });
        }

        function DeleteSpentMoney(id) {
            if (confirm("آیا از حذف مطمئن هستید ؟")) {
                $.get("/Admin/DeleteSpentMoney/" + id, function () {
                    $("#spent_" + id).hide('slow');
                });
            }
        }
    </script>

}

