@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6 offset-3">

    <div class="card">
        <h5 class="card-header h5 text-center">دفتر مهاجرتی مردانی</h5>
        <div class="card-body">
            <h4 class="card-title text-center" style="color:red">آزمون تست مهاجرت</h4>
            <p class="card-text text-center">برای اینکه بدونی با شرایطی الان داری ، چه کشور هایی برات مناسب هستند برو و تست زیر رو انجام بده</p>
            <a asp-action="DoTest" asp-controller="Test" class="btn btn-success">برو سراغ آزمون!</a>
        </div>
    </div>

</div>
